body{
    background-color:#251605;
    color: #E2C391;
    font-size: large;
    
}
.floatright{
    width: 200px;
    float: right;
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.YLIFEhead{
    text-align: center;
    font-size: 3rem;
}
.start{
    text-decoration: underline;
}
.after{
    text-decoration: underline;
}
.BG{
text-decoration: underline;
text-align: center;
}
.merch{
    text-decoration: underline;
text-align: center;
}
.BS{
width: 170px;
}
.WS{
    width: 170px;
   
}
.mon{
    text-decoration: underline;
    text-align: center; 
}
.ti{
width: 150px;
}
.um{
    width: 150px;
    align-content: space-around;
}
.merchitem{
    display: inline-block;
    width: 48%;
}
.musicimage{
    display: inline-block;
    width: 48%;
    margin: .55%;
}
.musicimage img{
    width: 100%;
}
.TR{
    width: 215px;

}
.TO{
    width: 215px;
}
.musicimage .icon{
    width: 10%;
}
nav>a{
    background-color: #E2C391;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
}
.YLIFE1{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.YLIFE1 img{
    width: 30%;
}
.YLIFE1 H1{
    flex-basis: 100%;
}
.merchitems{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.merchitems img{
    width: 30%;
}
.merchitems H1{
    flex-basis: 100%;
}
@media (min-width:1100px){
    nav{
        flex-basis: unset;
    }
    header{
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    .about-me{
        display: flex;
    }
    .about-me h2{
        flex-basis: 40%;
        background-position: center;
    }
    .about-me div{
        flex-basis: 50%;
    }
    h2{
        padding-left: 4rem;
    }
    .gallery{
        display: flex;
        flex-flow: column wrap;
        max-height: 78rem;
    }
    .YLIFE1 h1{
        margin: .5rem;
    }
    .YLIFE1 img{
        width: 32%;
        margin: .5rem;
    }
}    